<% now = Time.zone.now %>

<div class="page-header">
  <h1>デュエルを編集する</h1>
</div>

<%= form_for @duel do |f| %>
  <% if @duel.errors.any? %>
    <div class="alert alert-warning">
      <ul>
        <% @duel.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :winner_id %>
    <%= f.collection_select :winner_id, User.all.order(:nickname), :id, :nickname, {}, { class: 'form-control' } %>
  </div>
  <div class="form-group">
    <%= f.label :loser_id %>
    <%= f.collection_select :loser_id, User.all.order(:nickname), :id, :nickname, {}, { class: 'form-control' } %>
  </div>
  <div class="form-group">
    <%= f.label :date %>
    <%= f.date_field :date, start_year: now.year - 1, end_year: now.year, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :life_points %>
    <%= f.number_field :life_points, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :content %>
    <%= f.text_area :content, class: 'form-control', row: 3 %>
  </div>
  <%= f.submit '更新する', class: 'btn btn-default', data: { disabel_with: '更新中……' } %>
<% end %>
