<div class="page-header">
  <h1>
    <%= "@#{@user.nickname} の戦績" %>
  </h1>
</div>
<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>対戦相手</th>
        <th>デュエル数</th>
        <th>勝利数</th>
        <th>敗北数</th>
        <th>勝率</th>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |u| %>
        <tr>
          <td><%= "@#{u.nickname}" %></td>
          <td><%= sum =  @user.played_duels.played_duels(u.id).count %></td>
          <td><%= win =  @user.winned_duels.where(loser_id: u.id).count %></td>
          <td><%= sum - win %></td>
          <td><%= win / sum * 100 %>%</td>
        </tr>
      <% end %>
      <tr>
        <td>合計</td>
        <td><%= sum =  @user.played_duels.count %></td>
        <td><%= win =  @user.winned_duels.count %></td>
        <td><%= sum - win %></td>
        <td><%= win / sum * 100 %>%</td>
      </tr>
    </tbody>
  </table>
</div>
<div class="list-group">
  <% @user.played_duels.each do |duel| %>
    <%= link_to(duel, class: 'list-group-item') do %>
      <h4 class="list-group-item-heading">
        <%= "@#{duel.winner.nickname} v.s. @#{duel.loser.nickname}" %>
      </h4>
      <p>
        <%= duel.date.strftime('%Y/%m/%d') %><br>
        <%= duel.life_points %>
      </p>
    <% end %>
  <% end %>
</div>
