<div class="jumbotron">
  <h1>DuelRecords</h1>
  <p>
    とある研究室のデュエル戦績管理Webアプリケーション
  </p>
  <p>
    <% if logged_in? %>
      <%= link_to 'デュエルを記録する', new_duel_path, class: 'btn btn-primary btn-lg', role: 'button' %>
    <% else %>
      <%= link_to 'twitterでログイン', '/auth/twitter', class: 'btn btn-primary btn-lg', role: 'button' %>
    <% end %>
  </p>
</div>
<div class="page-header">
  <h2>Rankings</h2>
</div>
<ul class="media-list">
  <% @users.each do |u| %>
    <li class="media">
      <div class="pull-left">
        <%= image_tag(u.image_url, class: "media-object") %>
      </div>
      <div class="media-body">
        <h4 class="media-heading"><%= "@#{u.nickname}" %></h4>
        <%= "#{u.rating} / #{u.winned_duels.count}勝#{u.losed_duels.count}敗" %>
      </div>
    </li>
  <% end %>
</ul>
